// Color Guideline
$brand-1: #8d8bde;
$brand-2: #1b17c4;
$brand-3: #7fbfff;
$brand-4: #0086ff;

$neutral-1: #fffdfa;
$neutral-2: #a09fa0;
$neutral-3: #414042;

$accent-1: #fcd79c;
$accent-2: #faaf3a;

$base-purple: #9e2064;
$base-orange: #ed4036;
$base-dark: #333333;
$base-light: #fbf6f9;
$base-grey: #eceef1;
$grey-one: #707070;
$grey-two: #5a5a5a;
$white-one: #fff;
$white-two: #f4f4f4;

//===== MK Color Theme ====//
$base-dark: #000a17;
$base-gold: #a97900;
$base-text-gold: #c0a36a;
